/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
    /* declare a variable with `--` syntax */
    --dark: #496383;
    --light: #EEEEF9;
    --smbg-color: #92CCCD;
    --hdbgcolor: #31343D;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   background-color:var(--light);
   font-size: 16px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: var(--hdbgcolor);
    color: var(--light);
}

h1 {
    font-size: 56px;
    color: var(--hdbgcolor);
    padding: 10px;
}

header h1 {
    display: inline-block;
    background-color: var(--smbg-color);
}


header img {
    border-radius: 50%;
    width: 100px;
}


nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px; 

}

nav ul li a {
    color: var(--smbg-color);
    font-weight: bold;
    line-height: 150%;
    text-decoration:underline;
}

main {
    width: 100%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex; 
    background-color: var(--light);

    /* to test the box */
    /* border-spacing: 20px;
    border-style: solid;
    border-color:violet */
}

section {
    /* width: 80%; */

    margin-bottom: 30px;
    padding: 10px; /*top space*/
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

section img {
    max-height: 200px;
}

aside {
    width: 12%;

    margin-right: 24px;

    padding: 10px;
    clear: both;
    float: left;

    /* height: 100%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light);
    height: 120px;
    text-align: right;

    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: var(--dark);

    /* border-spacing: 20px;
    border-style: solid; */
    /* border-color:violet; */
}

.awork {
    /* padding: 10px; */
    /* clear: both;
    float: left; */

    /* height: 100%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light);
    height: 320px;
    text-align: right;

    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: var(--dark);

    /* border-spacing: 20px;
    border-style: solid; */
    /* border-color:violet; */
}


aside h1 {
    display: inline-block;
    text-align: right;
    color: var(--dark);
    font-weight: bold;
    font-size: 42px;
}



.hero {
    height: 240px;
    width: 100%;
    padding: 36px;

    margin-bottom: 25px;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;

    text-align: right;
    vertical-align: text-bottom; 
}

.hero span {
    display: inline-block;

    font-size: 36px;
    font-weight: bold;
    padding: 5px;;
    color: var(--hdbgcolor);
    background-color: var(--smbg-color);

}

.container {
    width: 100%;
    /* max-width: 100em;  */

    margin: 0 auto;
    border: 10px ;
}

/* About me description */
.me{
    height: 120px;
    border-spacing: 20px;
}

/* Work Deployed Applications */
.mework{
    height: 320px;
    border-spacing: 20px;
}

/* Work Deployed Applications : row */
.wcontainer {

    display: flex;
    flex-wrap: wrap;
    list-style: none;

    /* test size
    border-spacing: 20px;
    border-style: solid;
    border-color:violet */
}

/* Work Deployed Applications : one */
.wcont-cell {
    flex: 1;
    flex-wrap: wrap;
    margin-bottom: 10px;

    border-spacing: 20px;
    border-style: solid;
    border-color:var(--smbg-color);
}

.wcont-item {

    width: 100%;
    padding: 3.5em 0em 0;

    background-image: url("../images/c1.jpeg");
    background-size: cover;
    background-position: center;   

    height:126px;

    border-spacing: 60px;
    border-style: solid;
    border-color:var(--smbg-color);
    
}

.wcont-item p {
    display: inline-block;

    text-align: left;
    font-weight: bold;
    font-size: 32px;

    padding: 5px;
    color: var(--hdbgcolor);
    background-color: var(--smbg-color);
    
} 

.wcont-item p span{
    font-weight:normal;
    font-size: 11px;
    margin: 0;

} 

.contact-me {
    padding-top: 15px;
    margin-right: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    font-size: 20px;

    align-content: flex-start;
}

.contac-me ul {
    list-style-type: none;
}

.contact-me ul li {
    display: inline-block;
    margin-left: 25px; 
}

.contact-me ul li a {
    color:var(--dark);
    font-weight: bold;
    line-height: 150%;
    text-decoration:underline;
}

footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


/*change display under width 768px*/
@media (min-width: 768px)
.site-content {
    padding-top: 2em;
}